 
 img {
    max-width: 100px;
 }

.crazy {
    color:red !important;
    background: #555;
    padding: 25px;
    border: 3px, solid, #999;

}

section article {
    padding: 20px;
    border: 1px solid #bbb;
}